name: Rust

on:
  push:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: nightly-rust
      uses: actions-rs/toolchain@v1
      with: 
        profile: minimal
        toolchain: nightly
    - name: Cache
      uses: actions/cache@v3
      with:
        path: target/debug 
        key: ${{ runner.os }}-cache
    - name: run code coverage
      uses: actions-rs/tarpaulin@v0.1
      with:
        version: '0.15.0'
        args: '-- --test-threads 1'
    - name: upload code coverage
      uses: actions/upload-artifact@v1
      with:
        name: code-coverage-report
        path: cobertura.xml

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
